* {
    box-sizing: border-box;

  }
  
  body {
    background-color: beige;
    padding: 20px;
  }
  img {
      width: 100%;
  }
  

  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }

  h2 {
    font-size: 300%;
    margin-top: 4%;
  }
  
  .row {
    margin: 8px -16px;
  }
  

  .row,
  .row > .column {
    padding: 8px;
  }
  

  .column {
    float: left;
    width: 30%;
  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    padding: 10px;
  }
  .left {
    margin-left: 15vw;
  }

  .menu-text {
    font-size: 300%;
  }

  .nav-bar {
    margin-right:10px;
  }

  .top-bar, .top-bar ul {
    background-color: beige;
  }
  
  .footer {
    font-size: 200%;
    padding-right: 5%;
  }
  
  .footer-div {
    width: 60vw;
  }


  #bigger-image {
    width: 55%;
    margin-left: 16vw;
    height: 67vh;
  }


  

  @media screen and (max-width: 900px) {
    .column, #bigger-image {
      width: 50%;
      margin: auto;
    }


  }
  

  @media screen and (max-width: 600px) {
    .column, #bigger-image {
      width: 100%;
      margin: auto;
    }
  }
